cache/
.log/
log/
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/.ninja_deps
build/.ninja_log
build/bootloader/.ninja_log
build/.ninja_log
build/.ninja_deps
build/.ninja_log
build/bootloader/.ninja_log
build/.ninja_log
build/bootloader/.ninja_log
build/.ninja_log
build/bootloader/.ninja_log
build/.cache/clangd/index/__stdarg___gnuc_va_list.h.77FEAFDF5D775098.idx
build/.cache/clangd/index/__stdarg___va_copy.h.9BB9E5789F533956.idx
build/.cache/clangd/index/__stdarg_va_arg.h.D0C9078568282578.idx
build/.cache/clangd/index/__stdarg_va_copy.h.1F74322935B5195A.idx
build/.cache/clangd/index/__stdarg_va_list.h.39DFDEA7CDF85D9D.idx
build/.cache/clangd/index/adc_i2s_legacy.h.59F31B8AEBBDE5BA.idx
build/.cache/clangd/index/adc_i2s_deprecated.c.63F92D394AE03AE5.idx
build/.cache/clangd/index/adc_hal_common.h.BC689469CA61CBFB.idx
build/.cache/clangd/index/adc_hal_common.c.5E325C6212A781B4.idx
build/.cache/clangd/index/adc_hal.h.18CF3527A45B6CB2.idx
build/.cache/clangd/index/adc_hal.c.96775075805D024B.idx
build/.cache/clangd/index/adc_filter.h.668757FFBE530F01.idx
build/.cache/clangd/index/adc_dma_legacy.c.C00E92756D9EE749.idx
build/.cache/clangd/index/adc_dma_internal.h.5E73FD2F165B1D28.idx
build/.cache/clangd/index/adc_dma.h.3A703DB789307096.idx
build/.cache/clangd/index/adc_dma.c.9FB77D2FE73C1DD9.idx
build/.cache/clangd/index/adc_continuous_internal.h.5D16F775F4934DE8.idx
build/.cache/clangd/index/adc_continuous.h.F20B7897071CCB3D.idx
build/.cache/clangd/index/adc_continuous.c.9AE6AAA478ACE1F0.idx
build/.cache/clangd/index/adc_common.c.D57AADBDF2B6157A.idx
build/.cache/clangd/index/adc_channel.h.15EF501D2BF2DAD6.idx
build/.cache/clangd/index/adc_cali_schemes.h.424961734F03EF7F.idx
build/.cache/clangd/index/adc_cali_scheme.h.2CCD433D1E3D7784.idx
build/.cache/clangd/index/adc_cali_line_fitting.c.22B6E0731FD3E37B.idx
build/.cache/clangd/index/__stddef_max_align_t.h.9E98F3A56D92E0E2.idx
build/.cache/clangd/index/__stddef_null.h.CF3F679A7E977895.idx
build/.cache/clangd/index/__stddef_nullptr_t.h.511A2B70B698B8A7.idx
build/.cache/clangd/index/__stddef_offsetof.h.97B0328A777F6EF0.idx
build/.cache/clangd/index/__stddef_ptrdiff_t.h.052313D55A53268D.idx
build/.cache/clangd/index/__stddef_size_t.h.4AD766720ACD2F8B.idx
build/.cache/clangd/index/__stddef_wchar_t.h.A747D99E745FAB6E.idx
build/.cache/clangd/index/abort.c.F8750C96517A7F57.idx
build/.cache/clangd/index/adc.h.FC62CD5E611B1FC4.idx
build/.cache/clangd/index/adc1_private.h.BED8B0AA6EF50755.idx
build/.cache/clangd/index/adc_cali.c.4A9393E9BDB28078.idx
build/.cache/clangd/index/adc_cali.h.74D18BCDCC41A295.idx
build/.cache/clangd/index/adc_cali_curve_fitting.c.F2645B0A945DED33.idx
build/.cache/clangd/index/adc_cali_interface.h.DE2B5002E8C9EB4A.idx
build/.cache/clangd/index/adc_legacy.c.99B9EBFFE9CF82EC.idx
build/.cache/clangd/index/adc_ll.h.1CC0C64728E4A5FC.idx
build/.cache/clangd/index/adc_monitor.h.E7E914BB3F5CFD4B.idx
build/.cache/clangd/index/adc_oneshot.c.C8AB7FE2982157F0.idx
build/.cache/clangd/index/adc_oneshot.h.61E5DAC517BE5352.idx
build/.cache/clangd/index/adc_oneshot_hal.c.66859A29944AAB0F.idx
build/.cache/clangd/index/adc_oneshot_hal.h.19E1C54718C8AE56.idx
build/.cache/clangd/index/adc_periph.c.0699971B7F92E98F.idx
build/.cache/clangd/index/adc_periph.h.F59E31C4CC5E9A06.idx
build/.cache/clangd/index/adc_private.h.DC95C73987FF5B62.idx
build/.cache/clangd/index/adc_share_hw_ctrl.c.E03ADEBE7D09D40C.idx
build/.cache/clangd/index/adc_share_hw_ctrl.h.994D15CB2CA52E41.idx
build/.cache/clangd/index/adc_types.h.32C0D88FB5AA651F.idx
build/.cache/clangd/index/adc_types_legacy.h.6757579CE9542E64.idx
build/.cache/clangd/index/adc_types_private.h.28D18A1C1D3A575B.idx
build/.cache/clangd/index/aes-ccm.c.54CE48932459DD37.idx
build/.cache/clangd/index/aes-gcm.c.A941BC9715B69CEB.idx
build/.cache/clangd/index/aes-siv.c.A0A6876AAE75F4A4.idx
build/.cache/clangd/index/aes-unwrap.c.B853B16EED8731BD.idx
build/.cache/clangd/index/aes-wrap.c.5DC4B8FA749519B1.idx
build/.cache/clangd/index/aes.c.A7F6C65A4210944A.idx
build/.cache/clangd/index/aes.h.9D5B52D48E8D9926.idx
build/.cache/clangd/index/aes.h.FF7FA4102A549F45.idx
build/.cache/clangd/index/aes_alt.h.805B329DB88C2A6B.idx
build/.cache/clangd/index/aes_hal.c.9A5FB9E9D9D57B13.idx
build/.cache/clangd/index/aes_hal.h.8E4E60B5A7BD1E99.idx
build/.cache/clangd/index/aes_ll.h.46EA9C33C87C7C97.idx
build/.cache/clangd/index/aes_siv.h.3319A3E35489C8B7.idx
build/.cache/clangd/index/aes_types.h.D612EF90CAD261D3.idx
build/.cache/clangd/index/aes_wrap.h.F16C3276EEF0E2A4.idx
build/.cache/clangd/index/aesce.c.638B1506D1FF83BF.idx
build/.cache/clangd/index/aesce.h.296E6EF1CEDC859F.idx
build/.cache/clangd/index/aesni.c.85C1ADFA87C4D6C6.idx
build/.cache/clangd/index/aesni.h.9F3A15B51C280C88.idx
build/.cache/clangd/index/alignment.h.A1CC7224ACC47FD4.idx
build/.cache/clangd/index/altcp.h.100C44014713AE81.idx
build/.cache/clangd/index/ap_config.c.784F4B894C19B264.idx
build/.cache/clangd/index/ap_config.h.BF866B00CBF62F3F.idx
build/.cache/clangd/index/api.h.D1D897A759F15F4A.idx
build/.cache/clangd/index/api_lib.c.DB35C988A19AB19E.idx
build/.cache/clangd/index/api_msg.c.1C0FA1C9D2527098.idx
build/.cache/clangd/index/api_msg.h.AE5BFF52326040A0.idx
build/.cache/clangd/index/app_startup.c.779CCAF6CEF89835.idx
build/.cache/clangd/index/app_trace.c.A848979C5D7D9293.idx
build/.cache/clangd/index/app_trace_util.c.ADE89EEA0C0325BB.idx
build/.cache/clangd/index/arch.h.7A263820D2FAE38D.idx
build/.cache/clangd/index/arg_cmd.c.119BC42622BC3E89.idx
build/.cache/clangd/index/arg_date.c.80AAA688008F3A1B.idx
build/.cache/clangd/index/arg_dbl.c.0FC9D0B13B9090F1.idx
build/.cache/clangd/index/arg_dstr.c.3670397546583A24.idx
build/.cache/clangd/index/arg_end.c.70883BCACD73FE90.idx
build/.cache/clangd/index/arg_file.c.5D9F1BB9F906F7C3.idx
build/.cache/clangd/index/arg_hashtable.c.00E8F9D69FD3E553.idx
build/.cache/clangd/index/arg_int.c.90ACBB4850643E01.idx
build/.cache/clangd/index/arg_lit.c.3787BA37E1B141BD.idx
build/.cache/clangd/index/arg_rem.c.D3CE20A1319F0267.idx
build/.cache/clangd/index/arg_rex.c.E9454B42C0713CCE.idx
build/.cache/clangd/index/arg_str.c.C27D93FD1303D699.idx
build/.cache/clangd/index/arg_utils.c.FCC6022859E4E4BF.idx
build/.cache/clangd/index/argtable3.c.31BCFFD6C8BA36DC.idx
build/.cache/clangd/index/argtable3.h.7F29FC1A8564A942.idx
build/.cache/clangd/index/argtable3_private.h.9440F2772457F978.idx
build/.cache/clangd/index/aria.c.129B4089AA94C050.idx
build/.cache/clangd/index/aria.h.BB9F50B454B52346.idx
build/.cache/clangd/index/asn1.h.8E57C6B02364EE7B.idx
build/.cache/clangd/index/asn1parse.c.AE313BC02F020538.idx
build/.cache/clangd/index/asn1write.c.CBAE08D0340E0204.idx
build/.cache/clangd/index/asn1write.h.19092479674E92AC.idx
build/.cache/clangd/index/assert.c.AA7143408F538DB3.idx
build/.cache/clangd/index/assert.h.60B3B342B3EC4A2C.idx
build/.cache/clangd/index/assert.h.D4AEFCC313806A52.idx
build/.cache/clangd/index/auth.c.95842283DB6BA63F.idx
build/.cache/clangd/index/autoip.c.05F275953EE33505.idx
build/.cache/clangd/index/autoip.h.3303643245434DE8.idx
build/.cache/clangd/index/base64.c.635425A4B597FF61.idx
build/.cache/clangd/index/base64.c.94ABE99AD510253B.idx
build/.cache/clangd/index/base64.h.E5DE6B4DBD0686FE.idx
build/.cache/clangd/index/base64.h.E83843D2B830BC0D.idx
build/.cache/clangd/index/base64_internal.h.8382C1475FBDF48E.idx
build/.cache/clangd/index/bb_reg.h.559F03AF2AC58F59.idx
build/.cache/clangd/index/bignum.c.98AB7B75BF153137.idx
build/.cache/clangd/index/bignum.h.057C314E3775A933.idx
build/.cache/clangd/index/bignum.h.C5C9D95FF4684AF0.idx
build/.cache/clangd/index/bignum_alt.c.A0731548AFE31658.idx
/build/.cache/clangd/index
build/.ninja_log
